<div class="main">
    <app-calendar />
    <div class="container">
        <div class="container-main">
            <section class="header">
                <h1>06 Seg.</h1>
                <h2>19:00 - 22:30</h2>
            </section>
            <section class="body">
                <h3>Engenharia de Software II</h3>
                <h3>Bloco D2 - Sala 108</h3>
                <p>Adriana Gomes Alves</p>
            </section>
        </div>
        <a href=""><img src="../../../../assets/icons/Location-arrow.svg" alt="Seta de localização"></a>      
    </div>
</div>
