.page {
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #dedede;
}

.container {
    background: var(--white);
    border-radius: 20px;
    margin-top: 3em;
    padding: 3em;
    box-sizing: border-box;
    width: 50vw;
    align-items: center;

    display: flex;
    justify-content: space-between;

    border: solid 0.3em var(--Primary-border);
}

.duration-classroom-teacher {
    color: var(--Primary-label);
}

img {
    height: 3em;
}

.locationArrow {
    background: none;
    border: none;
    cursor: pointer;
}