<div class="page">
<app-sidebar />
<div class="main">
    <app-calendar />
    <div class="container">
        <section class="date-discipline">
            <h1 class="date">09 seg</h1>
            <h1 class="discipline">Engenharia de Software II</h1>
        </section>
        <section class="duration-classroom-teacher">
            <h2 class="duration">19:00 - 22:00</h2>
            <h2 class="classroom">D2 - 108</h2>
            <h2 class="teacher">Adriana Gomes Alves</h2>
        </section>
        <a href=""><img src="../../../../assets/icons/Location-arrow.svg" alt="Seta de localização"></a>      
    </div>
</div>
</div>
