<main class="principal">
    <div class="container">
        <img src="../../../../assets/icons/Logo.svg" alt="Logo UNIVALI">
        <section class="container-login">
            <input type="text" placeholder="Login" [(ngModel)]="codigoPessoa">
            <input type="password" placeholder="Senha" [(ngModel)]="password">
            <div class="buttons">
                <button (click)="goToItems()" id="login_button">Login</button>
                <button (click)="visitor()" id="guest_button">Entrar como visitante</button>
            </div>
        </section>
        @if(messages) {
          <p-messages [(value)]="messages" [enableService]="false"/>
        }

    </div>
</main>
