
<div class="page">
  <p-toast />
  <app-sidebar />
  <div class="main">
      <section class="disciplines">
        @for (aula of aulas; track $index) {
          <app-disciplina
          [data]="aula.data | dateFormat"
          [name]="aula.materia.name"
          [sala]="aula.sala.number"
          [bloco]="aula.sala.bloco.letraBloco"
          (click)="openEditModal($index)"/>
        }
      </section>

      @if(isEditOpen && selectedAula) {
        <section class="discipline-edit">
          <div class="header">
              <h1 class="discipline">{{selectedAula.materia.name}}</h1>
              <h2 class="date">{{selectedAula.data | dateFormat}}</h2>
          </div>

          <div class="dropdowns">
            <p-dropdown
            [options]="blocosOptions"
            [(ngModel)]="selectedBloco"
            optionLabel="label"
            placeholder="Selecione um Bloco"
            (onChange)="onBlocoChange($event)">
        </p-dropdown>

        <p-dropdown
            [options]="salasOptions"
            [(ngModel)]="selectedSala"
            optionLabel="label"
            placeholder="Selecione uma Sala"
            [disabled]="!selectedBloco">
        </p-dropdown>
          </div>

          <div class="buttons">
              <button class="btn btn-secondary" (click)="isEditOpen = false">Cancelar</button>
              <button class="btn btn-primary" (click)="save()">Salvar</button>
          </div>
      </section>
      }
  </div>
</div>
