*{
    font-family: 'Inter';
}

.page {
    display: flex;
    height: 0;
}

.main {
    background: #dedede;
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}