<div class="page">
    <div class="sidebar">
        <header class="header">
            <img src="../../../../assets/icons/Logo.svg" />
            <div class="header-info">
                <img src="../../../../assets/icons/User.svg" alt="">
                <div class="header-info_user">
                    <strong>Nome de usuário</strong>
                    <p>Código de pessoa</p>
                </div>
            </div>
            <button class="toggle-sidebar"><img src="../../../../assets/icons/Chevron-left.svg" alt=""></button>
        </header>

        <section class="sidebar-main">
            <ul>
                <a href="#"><li><img src="../../../../assets/icons/Location-pin.svg" alt="">Encontrar Sala</li></a>
                <a href="#"><li><img src="../../../../assets/icons/Calendar.svg" alt="">Calendário de Aulas</li></a>
            </ul>
            <button class="logout"><img src="../../../../assets/icons/Logout.svg" alt="">Logout</button>
        </section>
    </div>

    <div class="main">   
        <!-- <app-calendario /> -->
        <app-mapa />
    </div>
</div>