:root {
    --Primary: #0f3f76;
    --Primary-010: #0A284B;
    --Primary-020: rgba(15, 63, 118, 0.5);

    --Secondary: #345377;
    --Secondary-010: #223e5f;

    --Primary-label: #7b7b7b;
    --Primary-border: #7b7b7b;

    --white: #fff;

    --black: #10101a;

    --grey: #cfcfcf;

}
